.sl_accordion {
	max-width: 900px;
	margin: $spacing--sm auto;
	
	&__item {
		margin-bottom: $spacing--sm;
		border: 1px solid #9B9B9B;
		border-radius: $border-radius;
		background-color: get-color(inverse);
		overflow: hidden;

		&:last-of-type {
			margin-bottom: 0;
		}//end &:last-of-type
	}//end &__item

	&__title {
		background: none;
		border: none !important;
		padding: $spacing--xs;
		padding-right: $spacing--xs + rem-calc(25px);
		font-size: 1.25rem;
		font-weight: $font-weight--bold;
		color: get-color(default);

		@include breakpoint (small down) {
			font-size: 1.25rem;
		}//end small down breakpoint

		&:hover, &:focus {
			background: none;
			color: get-color(default);
		}//end &:hover, &:focus

		&:before {
			@include fontawesome ($content: '\f0fe', $weight: 400);
			font-size: rem-calc(28px);
			color: get-color(secondary);
			right: $spacing--xs;
			top: calc(50% - 4px);

			@include breakpoint (small down) {
				top: $spacing--xs;
				margin-top: 0;
			}//end small down breakpoint
		}//end &:before

		.is-active > & {

			&:before {
				content: '';
				@include fontawesome ($content: '\f146', $weight: 400);
			}//end &:before
		}//end .is-active &
	}//end &__title

	&__content {
		padding: $spacing--xs;
		padding-top: 0;
		border: none !important;

		p {
			font-weight: $font-weight--regular;
			font-size: 1.125rem;
		}//end p
		
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content

	&--faq {
		padding: 0;
		background: none;

		.sl_accordion {
			&__item {
				margin-bottom: 0;
				box-shadow: none;
				border-bottom: 1px solid get-color(default);
				border-radius: 0;
				overflow: visible;

				&.is-active .sl_accordion__title {
					color: get-color(default);
					font-weight: $font-weight--regular;

					&:before {
						content: 'Hide Answer';
					}//end &:before
				}//end .is-active &
			}//end &__item

			&__title {
				padding: $spacing--sm 0;
				padding-right: $spacing--xs + rem-calc(185px);

				@include breakpoint (small down) {
					font-size: $font-size--regular;
					padding: $spacing--sm 0 $spacing--lg + rem-calc(35px);
					text-align: center;
				}//end small down breakpoint

				&:before {
					text-align: center;
					border-radius: $border-radius--pill;
					background: none;
					width: 185px;
					height: 35px;
					content: 'Show Answer';
					opacity: 1;
					right: 0;
					top: calc(50% - 10px);
					@include transition(all .3s ease-in-out);

					@include breakpoint (small down) {
						bottom: $spacing--sm;
						right: 0;
						left: 0;
						top: auto;
						margin: 0 auto;
						padding: $spacing--xs/2 $spacing--sm;
					}//end small down breakpoint
				}//end &:before

				&:focus {
					&:before {
						background: none;
						color: get-color(default);
						@include border($color: get-color(default));
					}//end &:before

					&:hover {
						&:before {
							background-color: get-color(default);
							color: get-color(inverse);
							@include border($color: get-color(default));
						}//end &:before
					}//end &:hover
				}//end &:focus
			}//end &__title

			&__content {
				padding: 0 0 $spacing--sm 0;
			}//end &__content
		}//end .sl_accordion
	}//end &--faq
}//end .sl_accordion
