.sl_callout-link {
	display: block;
	border-radius: $border-radius;
	border: 1px solid #9B9B9B;
	padding: $spacing--md;
	margin-bottom: $spacing--md;
	@include transition( all .2s ease-in-out);

	@include breakpoint (small down) {
		padding: $spacing--sm;
		margin-bottom: $spacing--sm;
	}//end small down breakpoint

	&:hover {
		background-color: get-color(accent2);
		@include transition( all .2s ease-in-out);
	}//end &:hover
	

	* {
		color: get-color(secondary);
	}//end *

	p {
		color: get-color(default);
	}//end p

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	.sl_cell {
		display: flex;
		flex-direction: column;
		justify-content: center;

		& > :last-child {
			margin-bottom: 0;
		}//end & :last-child
	}//end .sl_cell
}//end .sl_callout-link
