.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: 2.5rem;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		background-color: get-color(accent1);
		box-shadow: $shadow;

		h3 {
			min-height: 76px;

			@include breakpoint (medium down) {
				min-height: 0;
			}//end medium down breakpoint
		}//end h3
	}//end &--deck, &--slide

	&--duo {
		padding: $spacing--xxxl $spacing--xxl;

		@include breakpoint (large only) {
			padding: $spacing--xxl $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--xl $spacing--sm;
		}//end small down breakpoint
	}//end &--duo

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--spotlight {
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@include breakpoint (small down) {
			flex-direction: column;
		}//end small down breakpoint
	}//end &--spotlight

	@at-root .sl_spotlight--testimonial .sl_card--spotlight {
		display: block;
		text-align: center;
	}//end @at-root .sl_spotlight--testimonial .sl_card--spotlight

	&--wysiwyg {
		padding: 0;
	}//end &--wysiwyg

	&--map {
		padding: 0;

		h3 {
			font-size: 1.25rem;
			margin-bottom: 0;
		}//end h3

		p {
			font-size: 1rem;
			margin-bottom: $spacing--xs/2;
		}//end p
	}//end &--map

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
