.reveal-overlay {
}
.sl_reveal {

	@include breakpoint (small down) {
		padding: $spacing--sm 0;
	}//end small down breakpoint

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 165px;

		img {
			max-height: 60px;
		}//end img
	}//end &__logo

	&__content {
		padding: $spacing--xxl;
		max-width: 850px;

		@include breakpoint (small down) {
			padding: $spacing--xxl 0;
		}//end small down breakpoint
	}//end &__content

	.close-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 66px;
		height: 66px;
		border: 1px solid #9B9B9B;
		border-radius: $border-radius--circle;
		color: get-color(secondary);
		font-size: 2.5rem;
		@include transition( all .2s ease-in-out);

		@include breakpoint (small down) {
			width: 44px;
			height: 44px;
			font-size: 2rem;
		}//end small down breakpoint

		&:hover {
			background-color: get-color(accent2);
			@include transition( all .2s ease-in-out);
		}//end &:hover

		i {
			margin-top: 3px;
		}//end i
	}//end .close-button

	&--video {

		.close-button {

		}//end .close-button
	}//end &--video


	.responsive-embed {
		margin-bottom: 0;

		iframe {
			border: none;
		}//end iframe
	}//end .responsive-embed
}//end .sl_reveal