.sl_breadcrumbs {
	li {
		margin-bottom: 0;
		line-height: 1;
		color: get-color(default);
		&:not(:last-child) {
			&:after {
				font-family: FontAwesome;
				font-weight: $font-weight--bold;
				color: get-color(default);
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			color: get-color(default);
		}//end a
	}//end li

	&__current {
		font-weight: $font-weight--bold;

		h1 {
			display:inline-block;
			font-size: inherit;
			line-height: 1;
			margin-bottom: 0;
			font-weight: $font-weight--bold;
		}//end h1
	}//end &__current

	@include breakpoint (large only) {
		margin-top: $spacing--lg;
	}//end large only breakpoint

	@include breakpoint (small down) {
		margin-top: $spacing--md;
	}//end small down breakpoint
}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}