.sl_header {
	position: relative;
	z-index: 999;
	max-width: none;
	box-shadow: $shadow-header;
	
	// USER NAVIGATION //
	.sl_usernav {
		background-color: get-color(primary);
		height: 42px;
		display: flex;

		& >  .sl_inner {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
		}//end & > .sl_inner

		&__left {
			flex: 1 1 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
		}//end &__left

		&__right {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}//end &__right

		&__translate {
		}//end &__translate


		&__menu {
			padding-right: $spacing--xs;
			& > .sl_menu {
				background-color: transparent;
				position: static;			

				& > li {
					margin-bottom: 0;
					position: relative;
					color: get-color(inverse);

					&:not(:last-of-type) {
						&:after {
							content: '|';
							position: absolute;
							right: -5px;
    					top: 4px;
							font-weight: $font-weight--regular;
						}//end &:after
					}//end &:not(:last-of-type)

					& > a {
						background-color: transparent;
						color: get-color(inverse);
						@include transition (.2s all ease-in-out);
						font-size: 1rem;
						font-weight: $font-weight--regular;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(inverse);
							text-decoration: underline;
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu

		}//end &__menu

		&__search {
			padding-right: $spacing--xs;
			@include transition(.3s all ease-in-out);

			.sl_form {
				//Input
				&__input {
					width: 135px;
					height: 26px;
					padding-left: $spacing--xs/2;
					padding-right: $spacing--sm;
					box-shadow: none;
					border-radius: $border-radius;
					border: none;
					color: get-color(inverse);
					background: rgba(get-color(default), .20);
					font-size: rem-calc(14px);
					@include transition(.3s all ease-in-out);

					//Place Holder Text
					@include placeholder {
						color: get-color(inverse);
						font-size: rem-calc(14px);
					}//end @include placeholder

					&:active, &:focus {
						@include transition(.3s all ease-in-out);
						border: none;
						box-shadow: none;
					}//end &:focus, &:hover, &:active
				}//end &__input

				&__search {
					color: get-color(inverse);
					right: $spacing--xs/2;
				}//end &__search
			}//end .sl_form
		}//end &__search
	}//end .sl_usernav

	// MAIN MENU LARGE //
	.sl_nav {
		background-color: get-color(inverse);
		position: relative;
		@include inner;
		padding: $spacing--xs 0;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 200px;
			z-index: 1;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 60px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(default);
						font-family: $header-font-family;
						padding: $spacing--sm $spacing--sm/2;
						@include transition (.2s all ease-in-out);
						font-size: 1.125rem;
						font-weight: $font-weight--regular;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(secondary);
						}//end &:hover

						@include breakpoint (large only) {
							font-size: 1.125rem;
							padding: $spacing--md $spacing--xs;
						}//end large only breakpoint
					}//end & > a

					//Mega menu hover class
					&.hover {
						& > a {
							background-color: get-color(accent2);
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 10px solid transparent;  /* left arrow slant */
								border-right: 10px solid transparent; /* right arrow slant */
								border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 10px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(primary);

							&:after {
								border-color: get-color(primary) transparent transparent;
							}//end &:after
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						& > a {
							&:after {
								display: none;
							}//end &:after
						}//end & > a

						&.is-active {
							& > a {
								background-color: get-color(accent2);
								border-radius: 0;
								&:after {
							    	display: none;
							    }//end &:after
							}//end a 
						}//end &.is-active
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						.is-dropdown-submenu {
							background: get-color(inverse);
							box-shadow: $shadow;
							min-width: 300px;
							border: none;
							padding: 0;

							& > li {
								& > a {
									font-size: 1.125rem;
									font-family: $header-font-family;
									color: get-color(primary);
									font-weight: $font-weight--regular;
									padding: $spacing--sm $spacing--md;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										background-color: rgba(get-color(primary), .1);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&:not(:last-of-type) {
									border-bottom: 1px solid rgba(get-color(primary), .1);
								}//end &:not(:last-of-type)

								&.is-active {
									& > a {
										background-color: get-color(accent2);
										color: get-color(primary);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right
				}//end & > li
			}//end .sl_menu
		}//end &__menu

		&__phone {
			.sl_phone {
				display: flex;
				flex-direction: column;
				align-items: center;

				&__cta {
					font-size: rem-calc(27px);
				}//end &__cta

				&__number {
					background: none;
					border-radius: 0;
					padding: 0;
					color: get-color(secondary);
					font-size: rem-calc(30px);
					font-weight: $font-weight--bold;
				}//end &__number
			}//end .sl_phone
		}//end &__phone
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--sm $spacing--xs $spacing--sm $spacing--xs;
		align-items: center;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 200px;
			z-index: 1;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 60px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}//end &__right

		&__menu {
			margin-top: $spacing--xs - rem-calc(10px);
		}//end &__menu

		&__phone {

			.sl_phone {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&__number {
					background: none;
					padding: 0;
					width: 44px;
					height: 44px;
					color: get-color(secondary);
					border: 2px solid get-color(secondary);
					border-radius: $border-radius--circle;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 0;
				}//end &__number

				&__cta {
					color: get-color(secondary);
					font-size: rem-calc(14px);
					font-weight: $font-weight--semibold;
				}//end &__cta
			}//end .sl_phone	
		}//end &__phone
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js