{% extends "base.twig" %}

{% block content %}
	<article class="sl_404">
		<section class="sl_content__body">
			<div class="sl_inner">
		      <div class="sl_card sl_card--search">
		        <h2>Oh no! We couldn’t find the page you wanted.</h2>
		        <p>Sorry about that! We can still help you find what you’re looking for.</p>
		        <h3>Try searching for what you're looking for here...</h3>
		        {% include "partials/sl_search.twig" %}
		      </div>{# /.sl_card--search #}
		    </div>{# /.sl_inner #}
		</section>
	</article>
{% endblock %}