<div id="sl_footer" class="sl_footer">
		<div class="sl_inner">

			<div class="sl_row">
				<div class="sl_cell large-3">

					{# SOCIAL ICONS#}
					{% include "partials/footer/social-media.twig"  %}

				</div>{# /.sl_cell #}

				<div class="sl_cell large-6 sl_footer__copyright">

					{# FOOTER WYSIWYG #}
					{% if option.footer_wysiwyg %}
						{{option.footer_wysiwyg}}
					{% endif %}

					{# COPYRIGHT #}
  					<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>
				</div>{# /.sl_cell #}

				<div class="sl_cell large-3">

					{# FOOTER Logos #}
					{% include "partials/footer/footer-logos.twig" %}

				</div>{# /.sl_cell #}
				
    		</div>{# /.sl_row #}

			{# FOOTER LINKS #}
			{% if footer_menu.theme_location == 'footer-menu' %}
				{% include "footer/footer-menu.twig" with {'menu': footer_menu.get_items } %}
			{% endif %}
			
		</div>{# /.sl_inner #}

</div>{# /.sl_footer #}