{# MOBILE MENU #}
<div class="sl_mobilenav" data-responsive-toggle="sl_mobilemenu" data-hide-for="large">
	
	{# Left Side #}
	<div class="sl_mobilenav__left">
		<a href="{{ site.url }}" class="sl_mobilenav__logo">
			{% include "sl_logo.twig" with {'image': option} %}
		</a>{# /.sl_nav-logo #}
	</div>{# /.sl_mobilenav__left #}

	{# Right Side #}
	<div class="sl_mobilenav__right">

		{# If Menu Exists #}
		{% if menu.theme_location != null %}

		<button class="sl_mobilenav__menu sl_button--menu" type="button" data-toggle="sl_offcanvas">
			<span class="sl_mobilenav__label">Menu</span>
		</button>{# /.sl_mobilenav__menu #}

		{% else %}

		{# Show Phone if No Menu #}

		<div class="sl_mobilenav__phone">
			<div class="sl_phone">
				<a class="sl_button sl_button--phone sl_phone__number" href="tel:{{option.phone.main}}" style="white-space:nowrap;"><i class="fas fa-phone-alt"></i></a>
				<span class="sl_phone__cta">Call Now</span>
			</div> {# /.sl_phone #}
		</div> {# /.sl_nav__phone #}

		{% endif %}
	</div>{# /.sl_mobilenav__right #}
</div>{# sl_mobilnav #}


{# DESKTOP MENU #}
{# User Menu #}
{% if user_menu.theme_location != null %}
<div class="sl_usernav show-for-large">

	<div class="sl_inner">
		{# Left Side #}
		<div class="sl_usernav__left">

			{% if option.add_translate == 1 %}
			<div id="sl_translate" class="sl_usernav__translate">
				<a href="#">Español</a>
			</div>{# /.sl_nav__usermenu #}
			{% endif %}
			
		</div>{# /.sl_usernav__left #}

		{# Right Side #}
		<div class="sl_usernav__right">

			<div class="sl_usernav__search">
				{% include "sl_search.twig" %}
			</div>{# /.sl_nav__search #}

			<div class="sl_usernav__menu">
				{% include "menu/user-menu.twig" with {'user_menu': user_menu.get_items} %}
			</div>{# /.sl_nav__usermenu #}
			
		</div>{# /.sl_usernav__right #}
	</div>{# /.sl_inner #}
</div>{# /.sl_usernav #}
{% endif %}

<div class="sl_nav show-for-large">

	{# Left Side #}
	<div class="sl_nav__left">
		<a href="{{ site.url }}" class="sl_nav__logo">
			{% include "sl_logo.twig" with {'image': option} %}
		</a>{# /.sl_nav__logo #}
	</div>{# /.sl_nav__left #}

	{# Right Side #}
	<div class="sl_nav__right">
		{% if menu.theme_location != null %}
		<div class="sl_nav__menu">
			{% include "menu/menu.twig" with {'menu': menu.get_items} %}
		</div>{# /.sl_nav__menu #}
		{% endif %}

		<div class="sl_nav__phone">
			<div class="sl_phone">
				<span class="sl_phone__cta">Get Started Now</span>
				<a class="sl_button sl_button--phone sl_phone__number" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
			</div> {# /.sl_phone #}
		</div> {# /.sl_nav__phone #}
	</div>{# /.sl_nav__right #}
</div>{# /#sl_top-bar #}