.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: get-color(accent2);
	min-height: 600px;
	display: flex;
	align-items: center;

	@include breakpoint (small down) {
		min-height: 520px;
		background-position: 75% center;
	}//end small down breakpoint

	h1 {
		margin-bottom: $spacing--sm;
	}//end h1

	p {
		font-size: rem-calc(26px);
		margin-bottom: $spacing--md;

		@include breakpoint (small down) {
			font-size: rem-calc(22px);
		}//end small down breakpoint
	}//end p

	.sl_card {
		max-width: 920px;
		padding: 0;

		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group
	}//end .sl_card
	
}//end .sl_module--billboard