.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);

		& > h2 {
			text-align: center;
		}//end & > h2

		.sl_cell {
			padding: 0 $spacing--md/2;

			@include breakpoint (medium down) {
				padding: 0;
				margin-bottom: $spacing--sm;
			}//end medium down breakpoint
		}//end .sl_cell
	}//end .sl_inner
}//end .sl_deck