.sl_spotlight {
	background-color: get-color(accent1);
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--lg;
	}//end small down breakpoint

	h2 {
		color: get-color(default);
		font-weight: $font-weight--regular;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
			text-align: center;
		}//end small down breakpoint
	}//end h2

	.sl_button {
		&:first-of-type {
			margin-left: $spacing--md;

			@include breakpoint (small down) {
				margin-left: 0;
			}//end small down breakpoint
		}//end &:first-of-type
	}//end .sl_button
	
	.sl_inner {
	}//end .sl_inner

	&--testimonial {
		h2 {
			font-weight: $font-weight--semibold;
			font-family: $body-font-family;
			font-size: rem-calc(30px);
			margin-bottom: $spacing--sm;
			position: relative;
			padding: 0 $spacing--xxxl;
			display: inline-block;

			@include breakpoint (small down) {
				padding: $spacing--xl 0;
			}//end small down breakpoint

			&:before {
				content: '';
				position: absolute;
				width: 60px;
				height: 40px;
				background-image: url(#{$path-img}icon/quote-left-icon.svg);
				background-size: 100%;
				left: 0;
				top: 0;
			}//end &:before

			&:after {
				content: '';
				position: absolute;
				width: 60px;
				height: 40px;
				background-image: url(#{$path-img}icon/quote-right-icon.svg);
				background-size: 100%;
				right: 0;
				bottom: 0;
			}//end &:after
		}//end h2

		p {
			font-size: 1.25rem;
		}//end p

		.sl_button {
			&:first-of-type {
				margin-left: 0;
			}//end &:first-of-type
		}//end .sl_button
	}//end &--testimonial
}//end .sl_spotlight