.sl_staff {

	&--deck {
		background-color: darken(get-color(inverse), 5%);
		p {
			@include breakpoint (medium only) {
			}//end medium only breakpoint
		}//end p
		.sl_inner {
			& > .sl_row {
				& > .sl_cell {
					padding: 0 $spacing--md/2;
				}
			}//end & > .sl_row
		
		}//end .sl_inner
		.sl_staff__image {
			min-height: 300px;

			@include breakpoint (medium only) {
				min-height: 250px;
			}//end medium only breakpoint
		}//end &.sl_staff__image

		.sl_card--staff {
			box-shadow: $shadow;

		}//end .sl_card--staff
	}//end &--deck

	&--spotlight {
		h3 {

		}//end h3

		h4 {

		}//end h4

		.sl_button {

		}//end .sl_button

		.sl_inner {

		}//end .sl_inner

		.sl_staff__image {
			border-radius: $border-radius;
			min-height: 450px;

			@include breakpoint (medium down) {
				min-height: 350px;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				max-width: 375px;
				margin: 0 auto;
			}//end small down breakpoint
		}//end &.sl_staff__image
	}//end &--spotlight

	&__image {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}//end &__image
}//end .sl_staff