.sl_wildcard {

	&--narrow {
		max-width: 1300px;
		margin: 0 auto;
	}//end &--narrow

	&--fullimage {
		padding-top: 0 !important;

		.sl_inner {
			max-width: none;
			padding: 0;

			.sl_card {
				padding: 0;

				&__image {
					min-height: 520px;

					@include breakpoint (small down) {
						min-height: 200px;
					}//end small down breakpoint
				}//end &__image
			}//end .sl_card
		}//end .sl_inner
	}//end &--iner

	&__large {
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			font-size: rem-calc(26px);

			@include breakpoint (small down) {
				font-size: rem-calc(22px);
			}//end small down breakpoint
		}//end p

		.sl_card {
			padding: 0;
		}//end .sl_card
	}//end &__large

	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;

		.sl_card {
			padding: 0;
			text-align: center;
		}//end .sl_card

		img {
			padding: $spacing--sm;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}//end img
	}//end svg

	&__staff {
		display: flex;
		align-items: center;
		justify-content: center;
		
		.sl_card {
			padding: 0;
		}//end .sl_card
	}//end svg
}//end .sl_wildcard