.sl_wysiwyg {
	&--narrow {
		& > .sl_inner {
			max-width: 1200px;
		}//end & > .sl_inner

		ul {
			max-width: 850px;
			margin-left: auto;
			margin-right: auto;

			@include breakpoint (small down) {
				margin-left: $spacing--sm;
			}//end small down breakpoint
		}//end ul
	}//end &--narrow
	.sl_inner {
		.sl_card {
			padding: 0;
		}//end .sl_card
	}//end .sl_inner
}//end .sl_wysiwyg